@using APP.UTILS
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header border-0" style="height:60px">
                <div class="row" id="frmFilter">
                    <div class="col-3">
                        <div class="form-group">
                            <input id="txtSearchName" type="text" class="form-control" placeholder="Tên chuyên mục">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <select id="drParent" class="form-control">
                                @*<option value="0">Tất cả danh mục</option>*@
                            </select>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-group">

                            <select id="drStatus" class="form-control">
                                <option value="@((int)StatusEnum.All)">@Extensions.GetEnumDescription(StatusEnum.All)</option>
                                <option value="@((int)StatusEnum.Active)">@Extensions.GetEnumDescription(StatusEnum.Active)</option>
                                <option value="@((int)StatusEnum.Unactive)">@Extensions.GetEnumDescription(StatusEnum.Unactive)</option>
                                <option value="@((int)StatusEnum.Removed)">@Extensions.GetEnumDescription(StatusEnum.Removed)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">

                            <div class="row">
                                <div class="form-group">
                                    <button id="btnSearch" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        @{
                            if ((int)ViewData[nameof(RolesEnum.Create)] == 1)
                            {
                                <button id="btnCreate" style="float:right" class="btn btn-success">Thêm mới</button>
                            }
                        }
                    </div>
                </div>

            </div>
            <!-- /.card-header -->
            <div id="dtTable" class="table-responsive p-0">



            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<script>

    var frmFilter = $('#frmFilter');
    var urlDomain = "/chuyen-muc"
    var take = 10
    var skip = 0

    $(document).ready(function () {
        getData();

        setParent();

        frmFilter.find("#btnSearch").on("click", function () {
            getData();
        });
        frmFilter.find("#btnCreate").on("click", function () {
            openCreate();
        });

    })
    function getData() {
        showLoading()
        var name = frmFilter.find("#txtSearchName").val();
        var parentId = frmFilter.find("#drParent").val();
        var status = frmFilter.find("#drStatus").val();


        $.ajax({
            url: urlDomain + "/get-list?name=" + name + "&parentId=" + parentId + "&status=" + status,
            method: "GET",
            data: {
                title: frmFilter.find("#txtName").val(),
                take: take,
                skip: skip
            }
            , success: function (response) {
                $("#dtTable").html(response);
                hideLoading()
            }
        }).then(function () {
            if (@((int)ViewData[nameof(RolesEnum.Update)]) == 0) {
                $('#dtTable').find('.btn-update').css('display', 'none');
                $('#dtTable').find('.checkStatus').attr('disabled', 'disabled');
            }
            if (@((int)ViewData[nameof(RolesEnum.Delete)]) == 0) {
                $('#dtTable').find('.btn-delete').css('display', 'none');

            }
        })
    }

    function openCreate() {
        location.href = urlDomain + '/them-moi';
    }
    function setParent() {

        $.ajax({
            url: urlDomain + "/get-parent-id",
            method: "GET",
            success: function (response) {

                $.each(response.data, function (i, itemMenu) {
                    var newOption = new Option(itemMenu.title, itemMenu.value);
                    $("#drParent").append(newOption);

                })
                frmFilter.find("#drParent").select2({
                    theme: "bootstrap4"
                });

            }
        })
    }

</script>
