@model APP.UTILS.PaginationSet<APP.MODELS.Contents>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li id="titleTag" class="breadcrumb-item active" aria-current="page"></li>
        </ol>
    </nav>
@if (Model.items != null)
{
    <div class="view-list">
        <ul class="list-news">
            @foreach (var item in Model.items)
            {
                <li>
                    <div class="news-item-grid">
                        <div class="news-item-img">
                            <a href="@item.Url" class="thumbs hover-shine">
                                @{
                                    string img = ViewData["CMSDomain"] + item.TitleImage;
                                }
                                <img src="@img" alt="Image">
                            </a>
                        </div>
                        <div class="news-item-content">
                            <h4 class="news-item-title">
                                <a href="@item.Url">@item.Title</a>
                            </h4>
                            <div class="news-item-text">
                                @item.Summary
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="view-list">
        <H1 class="text-info">Không có bài trong chuyên mục này mục này </H1>
    </div>
}


@if (Model.TotalPages > 1)
{
    // Create numeric links
    var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.Page > 1)
            {
                <li page-item>
                    <a href="?page=1" class="page-link" aria-label="First">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li page-item>
                    <a href="?page=@(Model.Page-1)" class="page-link" aria-label="Previous">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
            }

            @for (int i = startPageIndex; i <= endPageIndex; i++)
            {
                if (Model.Page == i)
                {
                    <li class="page-item active"><a class="page-link" href="?page=@i" title="Trang @i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="?page=@i" title="Trang @i">@i</a></li>
                }
            }
            @if (Model.Page < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.Page+1)" aria-label="Next">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=@Model.TotalPages" aria-label="Last">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>
}

<script>
    $(document).ready(function () {
        getTagById();
})
    function getTagById()
    {
     @{
         var id = Html.Raw(Json.Serialize((ViewData["TagId"])));
     }


        $.ajax({
            url: "/Categories" + "/GetTagById?id=" +@id,
                method: "GET",
                success: function (response) {
                    $('#titleTag').append(response.name);
                }
        })
    }
</script>